/* Header Component */

nav {

  font-size: 1.5rem !important;
  background-color: var(--dark-blue) !important;
  /* justify-content: space-between !important;
  padding: 10px;
  align-items: center; */
}

.nav-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none !important;
  color: var(--pale-green);
}

.navbar-icons {
  font-size: 2rem !important;
  color: var(--pale-green) !important;
  padding: 10px;
}

.navbar-icons:hover {
  font-size: 2rem !important;
  color: var(--teal) !important;
  padding: 10px;
}

.navbar-brand {
  color: var(--pale-green) !important;
  font-size: 100%;
  margin-left: 2%;
}

.nav-link {
  color: var(--pale-green) !important;
  font-size: 100%;
  border-radius: 20px;
  width: auto;
  padding: 10px;
  align-items: center;
}

.nav-link:hover {
  background-color: var(--pale-green) !important;
  color: var(--dark-blue) !important;
}

/* About Me */
.intro-container {
  background-color: var(--teal);
  color: var(--pale-green);
  padding: 50px;
  font-size: 150%;
  min-height: 80vh;
}

.illustration-image, .portrait-image, .fragment-image {
  width: 60%;
  margin: auto;
}

/* Google Search */

/* .googleSearchText {
  font-weight: 900;
  color: var(--pale-green);
  padding: 1px;
  margin: 0;
}

.googleSubmit {
  background-color: var(--teal);
  padding: 1%;
  border: solid 5px var(--dark-blue);
  border-radius: 10px;
  color: var(--pale-green);
  margin: 1%;
  width: 30%;
  font-size: 1em;
}

.googleSubmit:hover {
  background-color: var(--pale-green);
  border: solid 5px var(--teal);
  color: var(--dark-blue);
}

.googleTextEnter {
  height: 50px;
  width: 50%;
  border-radius: 10px;
  border: solid 1px var(--pale-green);
  margin: 2%;
} */

/*  Footer Component */

.footer {
  background-color: var(--dark-blue);
  font-size: 1rem !important;
  text-align: center;
  padding: 1rem;
  color: var(--pale-green);
}

.abf-contact {
  color: var(--pale-green);
  text-decoration: none;
}
