/* General Page Layout */

body {
  margin: 0;
  padding: 0;
}

#root {
  --dark-blue: #0388a6;
  --dark-teal: #0396a6;
  --teal: #04bfbf;
  --green: #9cd9b6;
  --pale-green: #d8f2e3;
  --cream: #e6ddc4;
  font-family: "Caveat", cursive;
  background-color: var(--pale-green);
  color: var(--dark-blue);
  text-align: center;
}

.page-container,
.main-content {
  min-width: 100%;
  min-height: 80vh;
}

/* Home Page */
.pageTitle {
  font-size: 5em;
  padding: 0;
  margin: 0;
}

.mooseLogo {
  width: 20%;

}
/* .googleSearchContainer {
  background-color: var(--dark-blue);
  border-radius: 30px;
  border: solid 10px var(--teal);
  margin: 20px;
} */

/* Contact Page */

.profile-pic {
  width: 20%;
  border-radius: 100%;
}

.contactText {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px;
}

.fa {
  font-size: 3rem;
  color: var(--dark-blue);
  padding: 20px;
}

.fa:hover {
  font-size: 2rem;
  color: var(--teal);
}

.btn-facebook,
.btn-linkedin {
  background-color: var(--pale-green);
  border: 2px solid var(--dark-blue);
  border-radius: 100%;
}

/* Page Not Found */

.notFoundPageContainer {
  width: 100%;
  height: 85vh;
  background-color: var(--pale-green);
}

.notFoundPageInner {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFoundPageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 80%;
}

.notFoundPageContent div {
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
}

.notFoundPageContent div:nth-child(1) {
  justify-content: center;
  align-items: center;
}

.notFoundPageContent p {
  font-size: 1rem;
}

.notFoundPageContent span {
  font-size: 2rem;
}

.notFoundPageContent img {
  display: flex;
  width: 100%;
}
